@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Caveat');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkslategrey;
    color: white;
    font-family: 'Roboto', sans-serif;   
}


#notes ul, #notes li{
    list-style: none;
    padding: 10px;
    margin-top: 20px;
}

#notes li{
    cursor: pointer;
}

#notes li:hover{
    background-color: seagreen;
}
