@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Caveat');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkslategrey;
    color: white;
    font-family: 'Roboto', sans-serif;   
}


#notes ul, #notes li{
    list-style-image: url('img/icons/icon-success.png');
    padding: 2px;
    margin-left: 20px;
    margin-bottom: 10px;    
}

#notes li{
    cursor: pointer;
}

#notes li:hover{
    background-color: seagreen;
}
